
html,
body {
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: sans-serif;
  overflow-x: hidden;

}

header {
  position: relative;
}

.header-bg {
  background-color: rgb(25, 45, 80);
  border-bottom: 8px solid rgb(50, 134, 161);
}

.navbar {
  padding: 0 !important;
  z-index: 100;
  position: fixed;  
}

li .nav-link{
  font-size: 1rem !important;
  
}

.card {
  max-width: 500px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  text-align: start;
  height: auto;
  padding: 0.4em 0.8em;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(56, 55, 55, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}
.card img{
  width: 7rem;
  height: 100px;


}

.card-footer {
  font-size: 0.65em;
  color: rgb(255, 255, 255);
  padding: 0 0.4em;
}
.card-footer h5{
  font-size: 3em;   

}
.card-footer p{
  font-size: 2em;    
}

.imagebg{
  
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
 }

.nav-container {
  width: 100%;
  margin: 0 0.5em;
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
 

}

.nav-container img{
  width: 14.5rem;
  height: auto;
}

.navbar-toggler {
  border-radius: 0 !important;
  color: rgb(50, 134, 161) !important;
}

.nav-container ul {
  /* display: flex; */
  font-size: 15px;
  align-items: center;
  margin-bottom: 0 !important;

}

.nav-item {
  margin: 0 1.5rem;
  
}

.nav-container li:nth-child(5) {
  padding: 0.8rem;
  margin-right: 0;
}

.nav-container li a,
a.button-link {
  text-decoration: none;
  color: white;
  scroll-behavior: smooth;
}

.navbar-nav .dropdown-menu {
  color: white;
  background-color: rgb(50, 134, 161) !important;
}

.dropdown-item:hover {
  background-color: rgb(25, 45, 80) !important;
}

.offcanvas-end {
  background-color: rgb(25, 45, 80) !important;

}

.offcanvas-end .nav-item a {
  transition: 0.8s;
  
}

.modal-body form {
  width: 90%;
}

.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 0;
  padding: 1em;
  border-radius: 4px;
  z-index: 99;
  background: aqua;
}

.btn-scroll{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;

}


.scrolldown {
  --color: white;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #ffffff66;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }
  40% {
    opacity: 1;
    height: 10px;
  }
  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }
  100% {
    height: 3px;
    opacity: 0;
  }
}
.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}
.chevrondown:nth-child(odd) {
  animation: pulse 500ms ease infinite alternate;
}
.chevrondown:nth-child(even) {
  animation: pulse 500ms ease infinite alternate 250ms;
}
@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
.cards-slide-container{
  display: flex;
  padding: 0 3em;
  
  overflow-x: auto;

}
.cards-slide-container img{
  width: 30px;
  margin: 0 1em;
  display: flex;
  flex-direction: column;

}

.cards-slide{
  max-width: 400px !important;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 31.25rem;
  height:18.75rem;
  padding: 0 1.1em;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background: #242424;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}
.card-edit{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.card-edit .number{
  font-family: sans-serif;
  font-size: 61px;
  font-style: normal;
  
}
.card-edit h5 {
  color: #C9C9C9;
  font-family: monospace;
  font-size: 27px;
  font-style: unset;
  font-weight: 500;
  line-height: normal;
}
.footer-cards-slide {
  font-size: 0.65em;
  color: rgb(255, 255, 255);
} 

.container-technology{
  display: flex;
  justify-content: center;

}
.icons-img img{
  width: 6.25rem;
  height:6.25rem;
}

/*copy until here */

footer .icon{
  background: transparent;
  background: linear-gradient( 
    to top, 
    hwb(261 13% 2%), 
    hsl(283, 79%, 37%),
    hsl(308, 86%, 56%) );
    color: aliceblue;

}
footer .icon:hover{
  background: transparent;
  background: linear-gradient( 
    to top, 
    hwb(261 13% 2%), 
    hsl(308, 86%, 56%)
     );
    color: aliceblue;
  

}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: rgb(0, 0, 0);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 80px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider::before, .slider::after {
  /* background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%); */
  content: "";
  height: 6.25rem;
  position: absolute;
  width: 10px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 10px;
  width: 250px;
  background-color: rgb(187, 187, 187);
  display: flex;
  justify-content: center;
}
.slide{
 
  display: flex;
  flex-direction: column;
   
 
  padding: 1.9em 0.8em;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(56, 55, 55, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  margin: 0 1em;

}

/* ============================================================= MEdia Query ==================================================== */


@media only screen and (max-width: 992px) {
  .nav-container {
    margin: 0 1em;
    display: flex;
    justify-content: space-between;
    
  }

  .nav-container ul {
    align-items: flex-start;
    line-height: 2rem;

  }

  .navbar-light .navbar-nav .nav-link {
    padding: 0;
  }

  .navbar-nav .dropdown-menu {
    margin-bottom: 8px !important;
  }


  .glowing-btn {
    display: none;
  }
  .card{
    padding: 0;
    height: auto;
    
  }
  .card img{
    width: 7rem;
    padding: 0.5em;
  }
  .card-footer h5{
    font-size: 2em;   

  }
  .card-footer p{
    font-size: 1.8em;    
  }
  .icons-img img{
    width: 30%;
    height: auto;
  }
  .icons-img, .p-3 .p-2 .pt-3 .pt-4{
    font-size: 15px;
    font-family: system-ui;
  }

}

@media only screen and (max-width: 767px) {

  .nav-container {
    width: 80%;
    margin: 0 auto;
  }

  .logo {
    display: none;
  }

  .glowing-btn {
    display: none;
  }
  .card-edit{
    width: 18.75rem;
   
  }

}

@media only screen and (max-width: 625px) {
  .nav-container {
    width: 100%;
    margin: 0;
    justify-content: space-between;
    padding: 1em;
  }

  .nav-container li:nth-child(3) {
    margin-right: 0;
  }

  .logo {
    display: none;
  }

  .glowing-btn {
    display: none;
  }


}

@media only screen and (max-width: 600px) {
  .glowing-btn {
    font-size: 1em;
  }
 
}

/* ============================================================== end media query ======================================================== */

/* ================================================== neon efect button ================================================================== */

@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: hsl(293, 100%, 69%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



.glowing-txt {
  float: left;
  
  width: 18.65rem;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;

}
.glowing-btn:hover .glowing-txt {
  animation: none;

}
