html,
body {
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: sans-serif;
  overflow-x: hidden;
}

/* Start header style */
header {
  position: relative;
}

li .nav-link{
  font-size: 1rem !important;
  font-weight: 500;
}

.navbar {
  padding: 0rem !important;
  z-index: 100;
  position: fixed;
}

.headerLogo{
  height: 4rem;
}

.nav-container {
  width: 100%;
  margin: 0 0.5em;
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-toggler {
  border-radius: 0 !important;
  color: rgb(50, 134, 161) !important;
}

.nav-container ul {
  /* display: flex; */
  font-size: 15px;
  align-items: center;
  margin-bottom: 0 !important;
}

.nav-item {
  margin-right: 2.5rem;
  font-size: .5rem;
}

.nav-container li:nth-child(5) {
  /* background-color:rgb(50,134,161) ; */
  padding: 0.8rem;
  margin-right: 0;
}

.nav-container li a,
a.button-link {
  text-decoration: none;
  color: white;
  scroll-behavior: smooth;
}

.navbar-nav .dropdown-menu {
  color: white;
  background-color: rgb(50, 134, 161) !important;
}

.dropdown-item:hover {
  background-color: rgb(25, 45, 80) !important;
}

.offcanvas-end {
  background-color: rgb(25, 45, 80) !important;
}

.offcanvas-end .nav-item a {
  transition: 0.8s;
}
.gradient{
  justify-content: center;
  background: transparent;
  background: linear-gradient( 
    to top, 
    hwb(261 13% 2%), 
    hsl(283, 79%, 37%),
    hsl(308, 86%, 56%) );
}

.modal-body form {
  width: 90%;
}

.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 0;
  padding: 1em;
  border-radius: 4px;
  z-index: 99;
  background: aqua;
}
.text-efect{
  background: linear-gradient(
    to right, 
    hwb(261 35% 6%), 
    hsl(283, 67%, 51%),
    hsl(310, 93%, 59%),
    hsl(311, 38%, 58%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-scroll{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
}

 /* <-- Start style footer --> */

.separator{
  height: .3rem;  
  width: auto;
  background: linear-gradient(90deg, #CE47FF 14.39%, #F71364 31.22%, #F71364 64.87%, #CE47FF 86.18%);
}

.footerLogo{
  font-size: .5rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24rem;
}

.logo{
  padding-left: 5rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #F71364;
}

.navFooter{
  padding-left: 4rem;
  color: #7C7C7C;
  display: flex;
  align-items: center;
  justify-content: start;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #7C7C7C;
}
a:hover{
  color: white;
}


.socialMedia{

  gap: 1rem;
  display: flex;
  margin: 2rem
}

.copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  height: 3rem;
  color: #7C7C7C;
}

 /* <-- End style footer --> */

  /* <-- Start Fixed Button --> */
  .staticButton{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    background-color: #F71364;
  }
  /* <-- End Fixed Button --> */
  
.scrolldown {
  --color: white;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #ffffff66;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }
  40% {
    opacity: 1;
    height: 10px;
  }
  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }
  100% {
    height: 3px;
    opacity: 0;
  }
}
.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}
.chevrondown:nth-child(odd) {
  animation: pulse 500ms ease infinite alternate;
}
.chevrondown:nth-child(even) {
  animation: pulse 500ms ease infinite alternate 250ms;
}
@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

footer .icon{
  background: transparent;
  background: linear-gradient( 
    to top, 
    hwb(261 13% 2%), 
    hsl(283, 79%, 37%),
    hsl(308, 86%, 56%) );
    color: aliceblue;

}
footer .icon:hover{
  background: transparent;
  background: linear-gradient( 
    to top, 
    hwb(261 13% 2%), 
    hsl(308, 86%, 56%));
    color: aliceblue;
}

/* ============================================================= Media Query ==================================================== */


@media only screen and (max-width: 425px) {

  .footerLogo{
    display: none;
  }

  .socialMedia{
    justify-content: end;
  }

}

@media only screen and (max-width: 768px) {

  .socialMedia{
    justify-content: end;
    padding: 4rem;
  }

}

@media only screen and (max-width: 992px) {
  .nav-container {
    margin: 0 1em;
    display: flex;
    justify-content: space-between;
  }

  .nav-container ul {
    align-items: flex-start;
    line-height: 2rem;
  }

  .navbar-light .navbar-nav .nav-link {
    padding: 0;
  }

  .navbar-nav .dropdown-menu {
    margin-bottom: 8px !important;
  }

  .glowing-btn {
    display: none;
  }
}

@media only screen and (max-width: 767px) {

  .nav-container {
    width: 80%;
    margin: 0 auto;
  }

  .glowing-btn {
    display: none;
  }

}

@media only screen and (max-width: 625px) {
  .nav-container {
    width: 100%;
    margin: 0;
    justify-content: space-between;
    padding: 1em;
  }

  .nav-container li:nth-child(3) {
    margin-right: 0;
  }

  .glowing-btn {
    display: none;
  }

}

@media only screen and (max-width: 600px) {
  .glowing-btn {
    font-size: 1em;
  }
}

/* ============================================================== end media query ======================================================== */

/* ================================================== neon efect button ================================================================== */

@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: hsl(293, 100%, 69%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.glowing-txt {
  float: left;
  
  width: 18.65rem;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;

}
.glowing-btn:hover .glowing-txt {
  animation: none;

}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }

  20% {
    opacity: 1;
  }

  25% {
    opacity: 0.3;
  }

  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }

  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #f71364 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #f71364;
    border-radius: 10px;
  }